@import "tailwindcss";

*{
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    margin:0;
    background:#ffffff;
    color:#111111;
}

button,input{
    font-family:inherit;
}

/* Hide default browser eye icon for password inputs */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
}
input[type="password"]::-webkit-reveal,
input[type="password"]::-webkit-clear {
  display: none !important;
}